@using BookApi  @*First added a reference to this library project*@
@using System.Web
@model BookFinder.Models.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Search by author";
}

<div class="text-center">
    <h1 class="display-4">Search by book author</h1>
</div>

<form asp-controller="Author" asp-action="Index" method="post">
    <div>
        <input asp-for="AuthorName" type="text" />
    </div>
    @{
        if (@Model != null && !string.IsNullOrEmpty(@Model?.AuthorName))
        {
            // working on the happy path, for now
            foreach (var item in @Model.Root.items)
            {
                <fieldset>
                    <label asp-for="@item.volumeInfo.title"></label>:
                    @item.volumeInfo.title
                </fieldset>
                <br /><br />
            }
        }
    }

    <div class="text-center" style="margin-top:10px;">
        <input type="submit" value="Search for author's books" class="btn btn-primary" />
    </div>
</form>
