@using BookApi  @*First added a reference to this library project*@
@model BookApi.GetBooksByAuthor

@{
    ViewData["Title"] = "Search by author";
}

<div class="text-center">
    <h1 class="display-4">Search by book author</h1>
</div>
