@using BookApi  @*First added a reference to this library project*@


@{
    ViewData["Title"] = "Search by author";
}

<div class="text-center">
    <h1 class="display-4">Search by book author</h1>
</div>

<form asp-controller="Author" asp-action="Index" method="post">
    @{
        var tmp = @BookApi.GetBooksByAuthor("Christie");
        int i = 0;
    }
</form>
