@using BookApi  @*First added a reference to this library project*@
@using System.Web
@model BookFinder.Models.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Search by author";
}

<div class="text-center">
    <h1 class="display-4">Search by book author</h1>
</div>

<form asp-controller="Author" asp-action="Index" method="post">
    <input id="authorName" name="authorName" type="text" />
    @{
        if (@Model != null)
        {
            var tmp = await @BookApi.GetBooksByAuthor(HttpUtility.HtmlEncode(@Model.AuthorName));
        }
        //int i = 0;
    }
</form>
